.ku-login-bg {
  background: linear-gradient(to bottom right, #e0f7e0, #ffffff);
  padding: 20px;
}

.custom-width {
  max-width: 420px;
  width: 100%;
}

.ku-border {
  border: 2px solid #0b928dd2;
}

.ku-title-text {
  color: #0b928dd2;
  font-weight: bold;
}

.ku-subtitle-text {
  color: #10b9b3d2;
  font-size: 1rem;
}

.form-floating .form-control {
  padding: 1.25rem 0.75rem;
}

.ku-link {
  color: #0b928dd2;
  text-decoration: none;
  transition: color 0.3s ease;
}

.ku-link:hover {
  color: #10b9b3d2;
  text-decoration: underline;
}

.ku-btn-primary {
  background-color: #10b9b3d2;
  color: #ffffff;
  border: none;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.ku-btn-primary:hover {
  background-color: #006400;
}

.ku-btn-secondary {
  background-color: #ffffff;
  color: #0b928dd2;
  border: 2px solid #0b928dd2;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.ku-btn-secondary:hover {
  background-color: #0b928dd2;
  color: #ffffff;
}