<div class="position-absolute top-50 start-50 translate-middle">
  <div class="custom-width-index border rounded shadow p-4 text-center ku-theme-bg text-white">
    <h2>ยินดีต้อนรับ</h2>
    <h4>เข้าสู่เว็บไซต์จองบูธงานเกษตรแฟร์</h4>
    <hr class="custom-hr">
    <h5>มหาวิทยาลัยเกษตรศาสตร์ <br> วิทยาเขตเฉลิมพระเกียรติจังหวัดสกลนคร</h5>
    <br>
    <div class="border rounded shadow p-4 bg-white text-dark ku-detail-box">
      <p class="mb-1">ดูรายละเอียดบูธ <i class="fa-solid fa-chevron-down"></i></p>
      <button class="btn ku-btn mb-3 w-50" (click)="goToSelectZone()">ดูบูธ</button>
      <hr class="custom-hr-light">
      <p class="mb-1">เลือกจองบูธ <i class="fa-solid fa-chevron-down"></i></p>
      <button class="btn ku-btn w-50" (click)="goToLogin()">เข้าสู่ระบบ/สมัครสมาชิก</button>
    </div>
  </div>
</div>