.ku-booking-container {
    background-color: #f0fff0; /* สีเขียวอ่อน */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .ku-title-text {
    color: #0b928dd2; /* สีเขียวเข้ม */
    font-weight: bold;
  }
  
  .ku-card-booking {
    border: 2px solid #10b9b3d2; /* สีเขียวเข้ม */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    }
  }
  
  .ku-card-title {
    color: #0b928dd2; /* สีเขียวเข้ม */
    font-weight: bold;
  }
  
  .ku-card-text {
    color: #555; /* สีเทาเข้มเพื่อให้ตัวอักษรชัดเจน */
  }
  
  .alert {
    border-radius: 10px;
    font-size: 1.1rem;
  }
  