<div class="container mt-5 ku-booking-container">
  <h3 class="text-center ku-title-text">การจองบูธของฉัน</h3>

  <!-- แสดงข้อความเมื่อเกิดข้อผิดพลาด -->
  <div *ngIf="errorMessage" class="alert alert-danger text-center mt-3">
    {{ errorMessage }}
  </div>

  <!-- แสดงข้อความเมื่อไม่มีการจอง -->
  <div *ngIf="!errorMessage && bookings.length === 0" class="alert alert-info text-center mt-3">
    ไม่พบข้อมูลการจอง
  </div>

  <!-- แสดงรายการการจองเมื่อมีข้อมูล -->
  <div *ngIf="bookings.length > 0" class="mt-4">
    <div *ngFor="let booking of bookings" class="card ku-card-booking mb-4" (click)="viewBoothDetails(booking.id ,booking.booking_id ,booking.payment_due_date)">
      <div class="card-body">
        <h5 class="card-title ku-card-title">บูธ: {{ booking.booth_name }}</h5>
        <p class="card-text ku-card-text">สถานะการจอง: {{ getStatusInThai(booking.booking_status) }}</p>
        <p class="card-text ku-card-text">วันที่จอง: {{ booking.booking_date }}</p>
        <p class="card-text ku-card-text">กำหนดชำระเงิน: {{ booking.payment_due_date }}</p>
        <p class="card-text ku-card-text">รายละเอียด: {{ booking.details }}</p>
        <p class="card-text ku-card-text">อีเวนต์: {{ booking.event_name }}</p>
        <p class="card-text ku-card-text">Booking ID: {{ booking.booking_id }}</p>
      </div>
    </div>
  </div>
</div>
